/* Chat container */
.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 400px;
    height: 500px;

    background: white;
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);

    z-index: 9999;
}

/* messages area */
.chat-container .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

/* input area */
.chat-container .input-area{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px;
}

/* input field */
.chat-container input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
}

/* input focus fix */
.chat-container input:focus {
    outline: none;
    box-shadow: none;
}

/* button */
.chat-container button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

/* isolate widget */
.chat-container * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.chat-container .send-btn{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#2fb39c;
    color:white;
    font-size:18px;
    display:flex;
    align-items:center;
    justify-content:center;
}